/**
 * Custom styling for the login form page
 */

@import "variables-site/vars";
@import "mixins/mixins";

.login { // page body tag
	background: $med;

	#login { // div container for login form

		h1 {

			a {
				background-image: url(assets/images/logo.png);
			    background-size : contain;
			    height 			: 140px;
			    width 			: 300px; // max: 320px
			}
		}
	}

	form {
		background-color: $red;
		padding-bottom 	: 26px;

		p {

		}

		label {
			color: $light;
		}
	}

	[type="text"],
	[type="password"] { // username and password fields
		background-color: $med;
		border 			: 0;
		color 			: $gray;

		&:focus,
		&:active {
			border 		: 1px solid $med;
			box-shadow 	: 0 0 5sdpx $med;
		}
	}

	.submit { // submit button p tag

	}

	[type="submit"] { // submit button itself
		background-color: $med;
		border 			: 1px solid $light;
		border-radius 	: 0;
		box-shadow 		: none;
		color 			: $light;
		font-size 		: 1.25em;
		font-weight 	: 700;
		text-shadow 	: none;
		text-transform 	: uppercase;

		&:hover {
			background-color: $gray;
			border-color 	: $light;
			color 			: $light;
		}
	}

	#nav,
	#backtoblog {

		a {
			color: $light;

			&:hover {
				color 		: $light;
				font-weight : 700;
				//color: $maroon;
			}
		}
	}

	.forgetmenot { // remember me checkbox p tag

		label {

		}
	}

	[type="checkbox"] { // checkbox itself
		background-color: $med;
		color 			: $light;

		&:checked {

			&:before {
				color: $maroon;
			}
		}
	}

}
