.wrap-header-menus {
	.search-form {
		display: none;

		@media screen and (min-width: $bp__tablet) {
			display: inline-block;
		}
	}

	.search-field {
		background-color 	: $light;
		background-image 	: url( 'assets/images/search.svg' );
		background-position : center center;
		background-repeat 	: no-repeat;
		background-size 	: 3em 3em;
		border 				: none;
		border-radius 		: 0;
		border-bottom-right-radius 	: 10px;
		border-bottom-left-radius 	: 10px;
		cursor 				: pointer;
		height 				: 4em;
		margin-right 		: 0.25em;
		padding 			: 0;
		padding-left 		: 4em;
		position 			: absolute;
		right 				: 18em;
		top 				: 0;
		transition 			: $trans__default;
		width 				: 0;
		font-family 		: 'medium';

		@media screen and (min-width: $bp__full-menu) {
			background-size 	: 1.25em 1.25em;
			height 				: 2.25em;
			padding-left 		: 2em;
			right 				: 31.5em;
		}

		&:focus {
			background-color	: $light;
			background-position : 0.5em center;
			border 				: 2px solid #c3c0ab;
			cursor 				: text;
			height 				: 103px;
			outline 			: 0;
			width 				: 350px;
		}
	}

	.search-submit {
		display: none;
	}
}
