.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.page-content,
.entry-content,
.entry-summary {
	hyphens 	: auto;
	margin 		: 1.5em 0 0;
	word-wrap 	: break-word;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.site-content {
	margin 			: 0 auto;
	max-width 		: $size__max-width;
	padding-bottom 	: $size__default-bot-marg;
	overflow 		: auto;
	transition 		: $trans__default;
	width 			: 100%;

	.home & {

		@media only screen and (min-width: $bp__laptop) {
			margin-top 	:- 3em;
			position 	: relative;
			z-index 	: 1;
		}
	}
}

.content-area {
	overflow 	: auto;
	padding 	: 1em;
	width 		: 100%;

	@media only screen and (min-width: $bp__tablet) {

		&.content-sidebar {
			float 	: left;
			margin 	: 0 2.5% 0 0;
			width 	: 70%;
		}

		&.sidebar-content {
			float 	: right;
			margin 	: 0 0 0 2.5%;
			width 	: 70%;
		}
	}
}

.page-title {
	color 			: $maroon;
	font-family 	: 'bold';
	text-transform 	: uppercase;
}

.contact-us {
	
	.mapp-layout {
		display: none;

		@media only screen and (min-width: $bp__menu-button + 1) {
			display : inherit;
			float 	: right;
		}
	}
}

.locations {
	.mapp-poi-list {
		max-height: none !important;
	}
}

.single {
	.entry-title {
		color 		: $maroon;
		font-family : 'bold';
	}
}

.app-btn {
	@media only screen and (min-width: $bp__tablet) {
		display : inline-block;
		width 	: 48%;
	}
}
