.ui-accordion-header {
	background 		: transparent !important;
	border 			: 1px solid $gray;
	border-radius 	: 0 !important;
	font-family 	: 'boldob';
	font-size 		: 1.5em !important;
	padding 		: 0.25em !important;
	padding-left 	: 1.5em !important;
}

.wrap-location {
	margin-bottom 	: 3em;
	padding 		: 1em !important;
}

.map_canvas {
	width: $size__map-width;
	height: 280px
}

.flex {
	@media screen and (min-width: $bp__tablet) {
		display: flex;
		justify-content: space-between;
	}
}

.locations-info {
	width: calc( 95% - #{$size__map-width} );
}

.locations-map {
	float: right;
	margin-left: 5%;
	min-width: $size__map-width;
}

.locations-contact {
	@include listreset();
}

.locations-link {
	display: block;
}

.single-locations {
	
	.loc-name {
		padding-left	: 1em;
		padding-right	: 1em;
	}
	
	.loc-info,
	.loc-map {
		width: 100%;
		
		@media screen and (min-width: $bp__tablet) {
			width: 48%;
		}
	}
	
	.mapp-layout {
		margin: 0;
	}
	
	.loc-contact {
		@include listreset();
	}
}